
<section class="w-[100%] h-[68%] flex justify-center items-center">

  <div class="w-[99%] h-[95%] bg-[var(--redLight)] rounded-[var(--radius2)]
    grid grid-cols-2 md:grid-cols-3 lg:grid-cols-3 grid-rows-2 md:grid-rows-3 gap-3">

    <div class="w-[90%] h-[92%] bg-white border-1 m-auto border-gray-400 rounded-[var(--radius2)]">
      <img>
      <div class="rounded-[var(--radius2)]">
        <h3 class="">Margarita</h3>
      </div>
    </div>

    <!--
    @for (item of items; track $index){
        <div class="">

        </div>
      }
      -->
  </div>

</section>
