
<section class="w-[100%] h-[68%] flex justify-center items-center">

  <div class="w-[96%] h-[95%] bg-[var(--pinkLight)] rounded-[var(--radius2)]
    grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 grid-rows-2 md:grid-rows-2 gap-3">

    @for (item of logicService.cocktails$ | async; track $index){
        <div class="w-[100%] h-[100%] bg-white border-1 m-auto border-gray-400 rounded-[var(--radius2)]">

        <img src="{{item.imagen}}" alt="{{item.nombre}}"
          class="w-[100%] h-[70%] rounded-[var(--radius2)] object-cover cursor-pointer"/>
          <h3>{{ item.nombre }}</h3>
        </div>
      }

  </div>
</section>
