
<section class="w-[100%] h-[68%] flex justify-center items-center">

  <div class="w-[96%] h-[95%] rounded-[var(--radius2)]
    grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 grid-rows-auto gap-5
    overflow-y-auto">

    @if((logicService.cocktails$ | async ) === null){
      <p class="text-gray-500 text-lg text-center w-full">Busca algo...</p>
    }
    @else if((logicService.cocktails$ | async)?.length === 0){
      <p class="text-gray-500 text-lg text-center w-full">No hay resultados de tu busqueda</p>
    }

    <router-outlet></router-outlet>

  </div>
</section>
