<!--Busqueda, botones de aleatoriedad y favoritos-->
<section
  class="w-[100%] h-[20%] border-1 border-gray-300 flex justify-start items-center"
>
  <div
    class="w-[60%] h-[35%] border-1 rounded-[var(--radius1)] border-[var(--gray-400)] flex justify-between items-center m-7 p-4"
  >
    <input
      class="text-lg color-[var-(--gray-400)] text-gray-500 outline-none"
      type="text"
      placeholder="Busca una bebida..."
    />
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="22"
      height="22"
      viewBox="0 0 256 256"
      class=""
    >
      <path
        fill="#979797"
        d="M232.49 215.51L185 168a92.12 92.12 0 1 0-17 17l47.53 47.54a12 12 0 0 0 17-17ZM44 112a68 68 0 1 1 68 68a68.07 68.07 0 0 1-68-68"
      />
    </svg>
  </div>
</section>

<!--Filtrado-->
<section class="w-[100%] h-[13%] border-1 border-gray-300">

</section>
