@import "tailwindcss";

:root{

  /* colors */
  --white: #ffffff;
  --black: #000000;
  --gray-100: #E1E1E6;
  --gray-300: #C4C4CC;
  --gray-400: #8D8D99;
  --gray-600: #323238;
  --gray-700: #29292E;

  /*backgrounds*/
  --purple: #880ffa;
  --purpleLight: #e1c7fa;
  --redStrong: #ff3f5f;
  --redLight: #fa889f;
  --pinkLight: #facad4;

  /* radius */
  --radius1: 30px;
  --radius2: 20px;

  /*texto*/
  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-md: 1rem;
}



